@font-face {font-family: "Helvetica"; src: url('../fonts/Helvetica.ttf') format('truetype');}
@font-face {font-family: "Gotham"; src: url('../fonts/GothamLight.ttf') format('truetype');}
@font-face {font-family: "GothamBook"; src: url('../fonts/GothamBook.ttf') format('truetype');}
@font-face {font-family: "GothamMI"; src: url('../fonts/GothamMediumItalic.ttf') format('truetype');}
@font-face {font-family: "GothamM"; src: url('../fonts/GothamMedium.ttf') format('truetype');}


nav a {
    color:black;
    font-family: 'GothamMI', sans-serif;

}

nav ul a {
  color:#707070;

}

nav .brand-logo {
    color:black;
    margin-top:20px;

}

nav {
    height:130px;
}

.no-shadows {
    box-shadow: none!important;
}

.mt-100 {
    margin-top:100px;
}
.no-shadows {
    box-shadow: none!important;
}

.projects {
    min-height:420px;
    position:relative;
    transition: transform .2s ease;
    overflow:hidden;
    border-radius:0px;
    box-shadow:none;
}

.project-img {


}

.img-bottom {
    max-width:100%;
    position:absolute;
    bottom:0;
}

.img-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}

.overlay-project {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color: #a9dcd7;
}

.projects:hover .overlay-project {
  opacity: 0.70;
}

.text-project {
  font-family: 'GothamBook', sans-serif;
  color: white;
  font-size: 13px;
  position: absolute;
  top: 92%;
  left: 42%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  width: 80%;

}

.projects:hover {
  transform: scale(1.03);
}

.project-title {
    font-size: 15px;
    margin-bottom:2px;
}
.project-caption {
    margin-top:0px;
}

.content-iat235{
  margin-top:100px;
}

.iat235-title {
  font-family:'GothamM', sans-serif;
  color: #5a5959;
}

.iat235-desc-title{
  margin-top: 50px;
  color: #85d7d7;
  font-family: GothamM;
}

.content-margin {
  /* margin-left: 16%; */
}

.iat235-paragraphs{
  font-family: 'Gotham', sans-serif;
  font-weight: 600;
}

.iat235-landing-mockup-img {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-info {
  margin-left: 15%;
  margin-right: 15%;
  font-family: Gotham;
  font-weight: bold;
  font-size: 83%;
  margin-top:30px;
}

.sidebar-info-mobile {
  margin-left: 0px;
  margin-right: 0px;
  width:30%;
}

.sidebar-titles {
  font-family: GothamM;
  color: #5a5959;
}
.divider-sidebar {
  background-color: #a9e6e7;
  height: 2px;
}

.mt-0 {
  margin-top:0px;
}

.mb-0 {
  margin-bottom:0px;
}

.mt-50 {
  margin-top:50px;
}

.iat235-inspo-img {
  margin-top: 10px;
}

.iat202-set-img {
  margin-top: 60px;
}

.iat202-logline{
  font-family: serif;
  /* font-weight: 600; */
  font-size: 180%;
}

blockquote{
  font-size: 180%;
  font-family: serif;
  border-left: 5px solid  #a9e6e7;
}

#slideshowText{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-family: 'Gotham';
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  font-weight: bold;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.dog{
  margin-top: 3px;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
