@font-face {font-family: "Helvetica"; src: url('../fonts/Helvetica.ttf') format('truetype');}
@font-face {font-family: "Gotham"; src: url('../fonts/GothamLight.ttf') format('truetype');}
@font-face {font-family: "GothamBook"; src: url('../fonts/GothamBook.ttf') format('truetype');}
@font-face {font-family: "GothamMI"; src: url('../fonts/GothamMediumItalic.ttf') format('truetype');}
@font-face {font-family: "GothamM"; src: url('../fonts/GothamMedium.ttf') format('truetype');}
@font-face {font-family: "HKGroteskWide-Medium"; src: url('../fonts/HkGrotesk/HKGroteskWide-Medium.otf') format('opentype');}
@font-face {font-family: "HKGroteskWide-Regular"; src: url('../fonts/HkGrotesk/HKGroteskWide-Regular.otf') format('opentype');}
@font-face {font-family: "HKGroteskWide-SemiBold"; src: url('../fonts/HkGrotesk/HKGroteskWide-SemiBold.otf') format('opentype');}
@font-face {font-family: "HKGroteskWide-Bold"; src: url('../fonts/HkGrotesk/HKGroteskWide-Bold.otf') format('opentype');}


nav a {
    /* color:#F4ABF4; */
    color:#F4ABF4;
    font-family: 'HKGroteskWide-SemiBold', sans-serif;
}

nav ul a {
  color:#F4ABF4;

}

nav .brand-logo {
    color:black;
    margin-top:20px;
    margin-left:20px;
}

.navbar-margin{
  margin-bottom:100px;
}

body{
  line-height: 30px;
}

nav {
    height:130px;
}

a {
  font-family:'HKGroteskWide-Regular';
  color: #F4ABF4;
}

a:hover{
 /* font-family:'HKGroteskWide-Medium'; */
  color: #62DDCE;
}

.waves-effect.waves-purple .waves-ripple {
  background-color:#F4ABF4;
 }

 .btn:hover {
   color: #F4ABF4;
   background-color: white;
 }

.h4{
  font-family:'HKGroteskWide-SemiBold';
}

.no-shadows {
    box-shadow: none!important;
}

.mt-100 {
    margin-top:100px;
}
.no-shadows {
    box-shadow: none!important;
}

.projects {
    min-height:240px;
    position:relative;
    transition: transform .2s ease;
    overflow:hidden;
    border-radius:0px;
    box-shadow:none;
}

.project-img {
}

.img-bottom {
    max-width:100%;
    position:absolute;
    bottom:0;
}

.img-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}

.overlay-project {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  /* background-color: #a9dcd7; */
  background-image: linear-gradient(90deg, rgba(98, 221, 206, 0.74) -28.4%, rgba(244, 171, 244, 0.62) 100%);
}

.projects:hover .overlay-project {
  opacity: 0.70;
}

.card-backgroundcolour {
  background-image: linear-gradient(70.26deg, rgba(98, 221, 206, 0.74) -66.75%, rgba(244, 171, 244, 0.62) 94.1%);
}
.text-project {
  font-family: 'GothamBook', sans-serif;
  color: white;
  font-size: 13px;
  position: absolute;
  top: 92%;
  left: 42%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  width: 80%;
}

.projects:hover {
  transform: scale(1.03);
}

.project-title {
    font-size: 15px;
    margin-bottom:2px;
    font-family:'HKGroteskWide-SemiBold';
}

.project-caption {
  font-family: 'HKGroteskWide-Regular', sans-serif;
  margin-top:0px;
  font-size: 12px;
}

.content-{
  margin-top:100px;
}

/*iat 235 style*/

.iat235-title {
  font-family:'HKGroteskWide-Medium', sans-serif;
  color: #F4ABF4;
  text-transform: uppercase;
}

.iat235-desc-title{
  margin-top: 50px;
  color: #F4ABF4;
  font-family:'HKGroteskWide-Medium', sans-serif;
}

.content-margin {
  /* margin-left: 16%; */
}

.iat235-paragraphs{
  font-family: 'Gotham', sans-serif;
  font-weight: 600;
}

.me-paragraphs{
  font-family: 'HKGroteskWide-Regular', sans-serif;
  /* font-weight: 600; */
  color: #340A34;
  font-size: 18px;
}
.iat235-landing-mockup-img {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-info {
  margin-left: 15%;
  margin-right: 15%;
  font-family: Gotham;
  font-weight: bold;
  font-size: 83%;
  margin-top:30px;
}

.sidebar-info-mobile {
  margin-left: 0px;
  margin-right: 0px;
  width:30%;
}

.sidebar-titles {
  font-family:'HKGroteskWide-Medium', sans-serif;
  color: #F4ABF4;
}
.divider-sidebar {
  height: 2px;
  background: #grey;
}

.mt-0 {
  margin-top:0px;
}

.mb-0 {
  margin-bottom:0px;
}

.mt-50 {
  margin-top:50px;
}

.iat235-inspo-img {
  margin-top: 10px;
}

.iat202-set-img {
  margin-top: 60px;
}

.iat202-logline{
  font-family: serif;
  /* font-weight: 600; */
  font-size: 180%;
}

blockquote{
  font-size: 180%;
  font-family: serif;
  line-height: 50px;
  border-left: 5px solid  #F4ABF4;
}
.carousel {
  margin-top:-100px;
  height: 500px;
  perspective: 300px;
}
.carousel .carousel-item {
  width:200px;
}

.carousel .carousel-item img {
  width:100%;
}

.carousel .carousel-item h6 {
  text-align:center;
  font-size: 14px;
  font-family: Gotham;
  font-weight:bold;
}

.carousel .indicators .indicator-item.active {
    background-color: #00aeae !important;
}


.carousel .indicators .indicator-item {
  background-color: rgb(133, 210, 210);
}

.home-caption {
  font-family:'HKGroteskWide-SemiBold';
  font-weight:bold;
  margin-left:10px;
  text-align: center;

  font-size: 40px;
  color: #340A34;
  line-height: 60px;
  /* -webkit-text-fill-color: white; /* Will override color (regardless of order) */ */
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #a9dcd7; */

}

.mb-10 {
  margin-bottom: 10px;
}
.me-title-desc {
  font-weight: bold;
  font-family:'Gotham', sans-serif;
  /* color: grey; */
  }

.me-img {
}


/*iat333 style*/
.iat333-title {
  font-family:'GothamM', sans-serif
  color: #F4ABF4;
}

.iat333-sub-desc-title{
  margin-top: 50px;
  /* color: #85d7d7; */
  /* font-size: 90%; */
  font-family:'HKGroteskWide-Medium', sans-serif;
}

.iat333-desc-title{
  margin-top: 50px;
  /* color: #85d7d7; */
  font-family:'HKGroteskWide-Medium', sans-serif;
  /* color: linear-gradient(70.26deg, rgba(98, 221, 206, 0.74) -66.75%, rgba(244, 171, 244, 0.62) 94.1%); */
  color: linear-gradient(268.35deg, #62DDCE 9.79%, #F4ABF4 137.05%);

}

.iat333-paragraphs{
  font-family: 'Gotham', sans-serif;
  font-weight: 600;
}

.sub-content-margin {
  margin-left: 5%;
}

.iat333-persona-img {
  margin-top: 10px;
  margin-left: 5%;
}

.iat333-landing-mockup-img{
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote-prototype{
  font-size: 100%;
  font-family: 'Gotham', sans-serif;
  font-weight: 600;
  /* margin-top: 20%; */
  left-margin: 5%;
  /* border-left: 5px solid  #a9e6e7; */
}

.captions-img{
  font-family: 'Gotham', sans-serif;
  margin-top: 10px;
  color: black;
  font-size: 70%;

}

.prototype-video-margin {
  margin-right: 5%;
  /* margin-top: 10%; */
}

.project-title-styled {
  font-family: 'HKGroteskWide-Bold';
  text-transform: uppercase;
  /* font-weight: bold; */
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color:linear-gradient(268.35deg, #62DDCE 9.79%, #F4ABF4 137.05%);
  transition: transform .2s ease;
}

.gradient-text {
  font-size: 48px;
  background: linear-gradient(268.35deg, #62DDCE 9.79%, #F4ABF4 137.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-text-stroke-width: 1px; */
}

.gradient-subtitle {
  background: linear-gradient(268.35deg, #62DDCE 9.79%, #F4ABF4 137.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.project-title-styled:hover {
  -webkit-text-fill-color: #f4abf4; /* Will override color (regardless of order) */
}

.project-title-second {
 font-family: 'Poppins';
/* -webkit-text-fill-color: #a9dcd7; /* Will override color (regardless of order) */ */
-webkit-text-fill-color: linear-gradient(268.35deg, #62DDCE 9.79%, #F4ABF4 137.05%);
-webkit-text-stroke-width: 0.8px;
/* -webkit-text-stroke-color: #a9dcd7; */
/* -webkit-text-stroke-color: linear-gradient(268.35deg, #62DDCE 9.79%, #F4ABF4 137.05%); */
color: linear-gradient(268.35deg, #62DDCE 9.79%, #F4ABF4 137.05%);
 /* color: #a9dcd7; */
 /* background: linear-gradient(268.35deg, #62DDCE 9.79%, #F4ABF4 137.05%); */
 font-weight:500;
}
.main-title {
  font-size: 2.5em;
  margin-top:80px;
}

.page-footer{
  background-color: white;
  color: black;
}

.container{
  background-color: white;
  color: #C4C4C4;
  font-family: 'HKGroteskWide-Regular', sans-serif;
  margin-bottom: 20px;
}

.btn-flat{
  font-family: 'HKGroteskWide-SemiBold', sans-serif;
  text-decoration: underline;
  color: grey;
  margin-right: 20px;
}

@media only screen and (max-width: 600px) {
  .main-title {
    margin-top:10px;
  }
  .projects {
    min-height:400px;
  }

.centre-align{
  /* text-align: center; */
}
}
