@font-face {font-family: "Helvetica"; src: url('../fonts/Helvetica.ttf') format('truetype');}
@font-face {font-family: "Gotham"; src: url('../fonts/GothamLight.ttf') format('truetype');}
@font-face {font-family: "GothamBook"; src: url('../fonts/GothamBook.ttf') format('truetype');}
@font-face {font-family: "GothamMI"; src: url('../fonts/GothamMediumItalic.ttf') format('truetype');}
@font-face {font-family: "GothamM"; src: url('../fonts/GothamMedium.ttf') format('truetype');}


nav a {
    color:black;
    font-family: 'GothamMI', sans-serif;

}

nav ul a {
  color:#707070;

}

nav .brand-logo {
    color:black;
    margin-top:20px;

}

nav {
    height:130px;
}

.no-shadows {
    box-shadow: none!important;
}

.mt-100 {
    margin-top:100px;
}
.no-shadows {
    box-shadow: none!important;
}

.projects {
    min-height:240px;
    position:relative;
    transition: transform .2s ease;
    overflow:hidden;
    border-radius:0px;
    box-shadow:none;
}

.project-img {


}

.img-bottom {
    max-width:100%;
    position:absolute;
    bottom:0;
}

.img-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}

.overlay-project {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color: #a9dcd7;
}

.projects:hover .overlay-project {
  opacity: 0.70;
}

.text-project {
  font-family: 'GothamBook', sans-serif;
  color: white;
  font-size: 13px;
  position: absolute;
  top: 92%;
  left: 42%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  width: 80%;

}

.projects:hover {
  transform: scale(1.03);
}

.project-title {
    font-size: 15px;
    margin-bottom:2px;
}
.project-caption {
    margin-top:0px;
}

.content-iat235{
  margin-top:100px;
}

.iat235-title {
  font-family:'GothamM', sans-serif;
  color: #5a5959;
}

.iat235-desc-title{
  margin-top: 50px;
  color: #85d7d7;
  font-family: GothamM;
}

.content-margin {
  /* margin-left: 16%; */
}

.iat235-paragraphs{
  font-family: 'Gotham', sans-serif;
  font-weight: 600;
}

.iat235-landing-mockup-img {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-info {
  margin-left: 15%;
  margin-right: 15%;
  font-family: Gotham;
  font-weight: bold;
  font-size: 83%;
  margin-top:30px;
}

.sidebar-info-mobile {
  margin-left: 0px;
  margin-right: 0px;
  width:30%;
}

.sidebar-titles {
  font-family: GothamM;
  color: #5a5959;
}
.divider-sidebar {
  background-color: #a9e6e7;
  height: 2px;
}

.mt-0 {
  margin-top:0px;
}

.mb-0 {
  margin-bottom:0px;
}

.mt-50 {
  margin-top:50px;
}

.iat235-inspo-img {
  margin-top: 10px;
}

.iat202-set-img {
  margin-top: 60px;
}

.iat202-logline{
  font-family: serif;
  /* font-weight: 600; */
  font-size: 180%;
}

blockquote{
  font-size: 180%;
  font-family: serif;
  border-left: 5px solid  #a9e6e7;
}

.carousel {
  margin-top:-100px;
  height: 500px;
  perspective: 300px;
}
.carousel .carousel-item {
  width:200px;
}

.carousel .carousel-item img {
  width:100%;
}

.carousel .carousel-item h6 {
  text-align:center;
  font-size: 14px;
  font-family: Gotham;
  font-weight:bold;
}

.carousel .indicators .indicator-item.active {
    background-color: #00aeae !important;
}


.carousel .indicators .indicator-item {
  background-color: rgb(133, 210, 210);
}

.home-caption {
  font-family:'Gotham';
  font-weight:bold;
  margin-left:10px;
  font-size: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}
.me-title-desc {
  font-weight: bold;
  font-family:'Gotham', sans-serif;
  /* color: grey; */
  }

.me-img {

}

.project-title-styled {

  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #a9dcd7;
  transition: transform .2s ease;
}

.project-title-styled:hover {
  -webkit-text-fill-color: #a9dcd7; /* Will override color (regardless of order) */
}
.project-title-second {
 font-family: 'Poppins';
-webkit-text-fill-color: #a9dcd7; /* Will override color (regardless of order) */
-webkit-text-stroke-width: none;
-webkit-text-stroke-color: #a9dcd7;
 color: #a9dcd7;
 font-weight:500;
}
.main-title {
  font-size: 1.8em;
  margin-top:80px;
}

@media only screen and (max-width: 600px) {
  .main-title {
    margin-top:10px;
  }
  .projects {
    min-height:400px;
  }
}