nav a {
    color:black;
}

nav ul a {
    color:black;
}

nav .brand-logo {
    color:black;
    margin-top:20px;

}

nav {
    height:130px;
}

.no-shadows {
    box-shadow: none!important;
}

.mt-100 {
    margin-top:100px;
}
.no-shadows {
    box-shadow: none!important;
}

.projects {
    min-height:420px;
    position:relative;
}

.project-img {


}

.img-bottom {
    max-width:100%;
    position:absolute;
    bottom:0;
}

.img-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}

.overlay-project {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color: #a9dcd7;
}

.projects:hover .overlay-project {
  opacity: 0.85;
}

.text-project {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;

}
